<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Жмеренка The Best</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isHome}}
                <li class="active"><a href="/">Главная</a></li>
            {{else}}
                <li><a href="/">Главная</a></li>
            {{/if}}


                {{#if isAdd}}
                    <li class="active"><a href="/add">Добавить Петицию</a></li>
                {{else}}
                    <li><a href="/add">Добавить Петицию</a></li>
                {{/if}}

                    <li class=""><a href="/auth/login#login">Войти</a></li>

        </ul>
    </div>
</nav>