<h1>Добавить Петицию</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Название петиции</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field">
        <textarea id="body" name="body" type="text" class="validate"></textarea>
        <label for="body">О чем петиция:</label>
        <span class="helper-text" data-error="Введите содержание петиции"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL картинки для публикаци</label>
        <span class="helper-text" data-error="Введите url картинки"></span>
    </div>

    <button class="btn btn-primary" type="submit">Добавить петицию</button>
</form>