<h2 class="title-section">Все петиции города Жмеренка</h2>
{{#if petitions.length}}
    {{#each petitions}}
        <div class="row">
            <div class="col s10 offset-s1">
                <h3 class="header-petition">{{title}}</h3>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="{{img}}" alt="{{title}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>{{body}}</p>
                        </div>
                        <div class="petition-author">
                            <p>Автор петиции: <span class="petition-author-name">{{ userId.name}}</span>, опубликована: {{createdAt}}</p>
                        </div>

                        <div class="card-action">
                            <a href="/petitions/{{id}}" target="_blank">Открыть петицию</a>

                            {{#if @root.isAuth}}
                                <a href="/petitions/{{id}}/edit?allow=true">Редактировать</a>
                            {{/if}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Петиций пока нет! Добавь первую - внеси свое имя в Историю магаполиса</p>
{{/if}}