<div class="petition">
    <h1>{{petition.title}}</h1>

    <img src="{{petition.img}}" alt="{{petition.title}}">
    <p>{{petition.body}}</p>
    <div>
        <div>{{petiton.userId.name}}</div>
        <div>{{petiton.createdAt}}</div>
    </div>
</div>