i.nav-wrapper {
    padding: 0 2rem;
}

.title-section{
    font-size: 3rem;
    color:#2b2b2b;
    padding:25px;
}
.header-petition {
    font-size: 2rem;
    color:#2b2b2b;
}
.auth {
    padding-top: 1rem;
}
.petition-author {
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 1rem;
}